nav{
    background-color: rgb(77, 120, 126);
    font-family: Tangerine;
    font-weight: bold;
    color: rgb(218, 213, 213);
    text-shadow: 5px 5px 5px rgb(77, 77, 77); 
    height: 80px;
    
    
} 
#keyword{
    text-align: center;
    border: solid rgb(77, 120, 126) 2px;
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: 4px 4px 4px 2px rgb(77, 120, 126);
    
}
#first_name2{
    color: rgb(77, 120, 126);
    text-align: center;
    border: solid black 2px;
    
}
#title{
    top: -60;
    font-family: Tangerine;
    color: rgb(77, 120, 126) ;
    font-size: 4vw;
    margin-left: 0px
    text-shadow: 1px 1px lightgray;
     
}
.test{
    
}
.btn{
    font-family:Redressed; 
    background-color: rgb(77, 120, 126);
    text-shadow: 1px 1px 1px gray;
    box-shadow: 2px 2px 2px lightgray;
    width: 100%;
}
.subtitle{
   text-align: center;
   font-family:Redressed; 
   color: rgb(34, 44, 51);
   text-shadow: 4px 4px rgb(248, 248, 248);
   padding-top: 50px;
   padding-bottom: 50px;
}

    
